<footer>
  <a href="https://news.ycombinator.com/newsguidelines.html">Guidelines</a> <span>|</span>
  <a href="https://news.ycombinator.com/newsfaq.html">FAQ</a> <span>|</span>
  <a href="mailto:hn@ycombinator.com">Support</a> <span>|</span>
  <a href="https://github.com/HackerNews/API">API</a> <span>|</span>
  <a href="https://news.ycombinator.com/security.html">Security</a> <span>|</span>
  <a href="https://news.ycombinator.com/lists">Lists</a> <span>|</span>
  <a href="https://news.ycombinator.com/bookmarklet.html">Bookmarklet</a> <span>|</span>
  <a href="https://news.ycombinator.com/dmca.html">DMCA</a> <span>|</span>
  <a href="http://www.ycombinator.com/apply/">Apply to YC</a> <span>|</span>
  <a href="mailto:hn@ycombinator.com">Contact</a>
</footer>
