<header>
  <nav class="navbar">
    <a class="navbar-logo" ui-sref="app.home">Y</a>
    <a ui-sref="app.home({ page: 0 })"><h1>Hacker News</h1></a>

    <div class="upper-navbar navbar-actions">
      <a href="#">submit</a> <span>|</span>
      <a href="#">search</a> <span>|</span>
      <a href="#">login</a>
    </div>
  </nav>
  <nav class="sub-navbar navbar-actions">
    <a href="#">new</a> <span>|</span>
    <a href="#">comments</a> <span>|</span>
    <a href="#">show</a> <span>|</span>
    <a href="#">ask</a> <span>|</span>
    <a href="#">jobs</a>
  </nav>
</header>
